$primary-color: #3498db;
$background-color: #f4f4f4;

.booking-card {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

// styles here
.enhanced-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-family: 'Poppins', sans-serif;

  h4 {
    font-size: 17px;
    font-weight: 600;
    color: #3498db;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }

  .info-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f1;

    p {
      margin: 0;
      color: #444;
      font-size: 15px;
      flex: 1;
    }

    span {
      flex: 1;
      text-align: right;
      color: #333;
      font-weight: 500;
    }
  }

  .info-row:last-child {
    border-bottom: none;
  }
}

.logo-dot {
  width: 10px;
  height: 10px;
  background-color: #3498db;
  border-radius: 50%;
  margin-right: 8px;
}

.search-bar {
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      input[type="search"] {
        padding: 15px;
        border: none;
        border-radius: 12px 0 0 12px;
        width: 300px;
        font-size: 16px;
      }

      button {
        padding: 15px 20px;
        border: none;
        border-radius: 0 12px 12px 0;
        background-color: $primary-color;
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
      }
    }

