<ion-content>
  <main>
    <section class="booking-form">
      <h2 (click)="goBack()"> &lt; Book {{ hall.name }}</h2>
      <form>
        <ion-item>
          <ion-label position="floating">Event Date</ion-label>
          <ion-input type="date" [(ngModel)]="booking.date" name="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Event Time</ion-label>
          <ion-input type="time" [(ngModel)]="booking.time" name="time"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Number of Guests</ion-label>
          <ion-input type="number" [(ngModel)]="booking.guests" name="guests"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Event Type</ion-label>
          <ion-select [(ngModel)]="booking.eventType" name="eventType">
            <ion-select-option value="wedding">Wedding</ion-select-option>
            <ion-select-option value="birthday">Birthday</ion-select-option>
            <ion-select-option value="corporate">Corporate Event</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
      <div class="booking-summary">
        <h3>Booking Summary</h3>
        <p>Hall: {{ hall.name }}</p>
        <p>Date: {{ booking.date }}</p>
        <p>Time: {{ booking.time }}</p>
        <p>Guests: {{ booking.guests }}</p>
        <p>Event Type: {{ booking.eventType }}</p>
        <p>Total Cost: R{{ calculateTotalCost() }}</p>
      </div>
      <button class="proceed-to-payment" (click)="proceedToPayment()">Proceed to Payment</button>
    </section>
  </main>
</ion-content>