<ion-content class="users-container">
  <div class="header-section">
    <div class="logo-brand">
      <div class="" (click)="goBack()">
        <p style="color: white; font-size: 35px; font-weight: bold;"> < </p>
      </div>
      <span class="logo-text">hallPass</span>
    </div>
    <h2 class="title">Manage Users</h2>
    <p class="subtitle">List of registered users, active and not active-users</p>
  </div>
  <div class="search-bar" style="padding: 22px; background-color:#f4f4f4;">
    <input type="search" placeholder="Search for users">
    <button>Search</button>
  </div>
  <ion-list class="users-list">
    <ion-item *ngFor="let user of users" class="user-item">
      <ion-label>
        <h2>{{ user.username }}</h2>
        <p>Registered: {{ user.registeredWhen }}</p>
        <p>Email: {{ user.email }}</p>
        <ion-chip color="primary">
          <ion-label (click)="navigate('/view-user-details')">View Details</ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
