<div class="auth-page">
  <!-- Header Section -->
  <div class="header">
    <i class="fa fa-calendar icon"></i>
    <h2 style="color:#fff;">Hall Booking App</h2>
    <!-- Animated text container -->
    <p id="animated-text" style="color: #fff;">{{ sentences[currentIndex] }}</p>
    <div class="dots">
      <span *ngFor="let sentence of sentences; let i = index" [class.active]="i === currentIndex"></span>
    </div>
  </div>
  <!-- Form Section -->
  <div class="form-section">
    <h3>Set New Password</h3>
    <p>Enter your new password to reset your account password.</p>
    <form [formGroup]="newPasswordForm" (ngSubmit)="presentLoading()">
      <div class="input-item">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="New password">
        <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="togglePasswordVisibility()" class="password-toggle-icon"></i>
      </div>
      <div *ngIf="password?.invalid && password?.touched" class="error">Password is required</div>
      <div class="input-item">
        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirm new password">
        <i [class]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="toggleConfirmPasswordVisibility()" class="password-toggle-icon"></i>
      </div>
      <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="error">Confirm password is required</div>
      <div *ngIf="newPasswordForm.hasError('passwordMismatch')" class="error">Passwords do not match</div>
      <button class="create-btn" type="submit" [disabled]="newPasswordForm.invalid">Save Password</button>
    </form>
  </div>
</div>