<div class="auth-page">
  <!-- Header Section -->
  <div class="header">
    <i class="fa fa-calendar icon"></i>
    <h2 style="color:#fff;">Hall Booking App</h2>
    <!-- Animated text container -->
    <p id="animated-text" style="color: #fff;">{{ sentences[currentIndex] }}</p>
    <div class="dots">
      <span *ngFor="let sentence of sentences; let i = index" [class.active]="i === currentIndex"></span>
    </div>
  </div>
  <!-- Form Section -->
  <div class="form-section">
    <h3>Forgot Password</h3>
    <p>Enter your email address and we'll send you an OTP to reset your password.</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
      <div class="input-item">
        <input formControlName="email" placeholder="Your email" type="email">
      </div>
      <div *ngIf="email?.invalid && email?.touched" class="error">Valid email is required</div>
      <button class="create-btn" type="submit" [disabled]="forgotPasswordForm.invalid">Send OTP</button>
    </form>
    <div class="guest"> Remember your password? <span class="guest-link" (click)="navigate('/login')">Login</span> </div>
  </div>
</div>