<ion-content class="menu-content">

  <div class="action-btn-container" style="display: flex; justify-content: space-between; padding: 15px;">
    <p style="color:#3498db; font-weight: bold; font-size:35px;">Menu</p>
    <p (click)="closeMenu()" style="cursor:pointer; font-size:30px; font-weight: bold; color:#3498db;">
      X
    </p>
  </div>

  <ion-list class="menu-list">

    <ion-item lines="none" button (click)="navigate('/home')">
      <ion-icon name="home-outline" slot="start" class="menu-icon"></ion-icon>
      <ion-label class="menu-label">Home</ion-label>
    </ion-item>

    <ion-item lines="none" button (click)="navigate('/announcements')"  *ngIf="userRole==='Admin'">
      <ion-icon name="home-outline" slot="start" class="menu-icon"></ion-icon>
      <ion-label class="menu-label">Announcements</ion-label>
    </ion-item>

    <ion-item lines="none" button (click)="navigate('/manage-users')"  *ngIf="userRole==='Admin'">
      <ion-icon name="home-outline" slot="start" class="menu-icon"></ion-icon>
      <ion-label class="menu-label">Manage Users</ion-label>
    </ion-item>

     <ion-item lines="none" button (click)="navigate('/notifications')"  *ngIf="userRole==='Admin'">
      <ion-icon name="home-outline" slot="start" class="menu-icon"></ion-icon>
      <ion-label class="menu-label">Notifications</ion-label>
    </ion-item>

    <ion-item lines="none" button (click)="navigate('/profile')">
      <ion-icon name="home-outline" slot="start" class="menu-icon"></ion-icon>
      <ion-label class="menu-label">Profile</ion-label>
    </ion-item>

    <ion-item lines="none" button (click)="navigate('/favorites')"  *ngIf="userRole==='Client'">
      <ion-icon name="home-outline" slot="start" class="menu-icon"></ion-icon>
      <ion-label class="menu-label">Favorites</ion-label>
    </ion-item>

    <ion-item lines="none" button (click)="navigate('/terms-and-conditions')">
      <ion-icon name="home-outline" slot="start" class="menu-icon"></ion-icon>
      <ion-label class="menu-label">Terms and Conditions</ion-label>
    </ion-item>

    <ion-item lines="none" button (click)="navigate('/faq')" *ngIf="userRole==='Client' || userRole==='Municipality'">
      <ion-icon name="home-outline" slot="start" class="menu-icon"></ion-icon>
      <ion-label class="menu-label">FAQ</ion-label>
    </ion-item> 

    <ion-item lines="none" button (click)="logout()">
      <ion-icon name="home-outline" slot="start" class="menu-icon"></ion-icon>
      <ion-label class="menu-label">Quit</ion-label>
    </ion-item>

   

  </ion-list>

</ion-content>
