ion-content {
  --background: #f4f5f8;
}

ion-item {
  --background: #ffffff;
  --border-radius: 10px;
  margin-bottom: 20px;
}

ion-button {
  --background: #3498db;
  --color: #ffffff;
  margin-top: 20px;
}

.edit-modal{
  padding:20px;
}